body {
    background-color: rgb(205, 191, 109);
}

h1 {
    color: rgb(138, 233, 138);
    background-color: rgb(234, 170, 158);
}

h1:hover {
    background-color: rgb(83, 124, 124);
    cursor: pointer;
}